/* show banner */
.fade2-enter .list {
    opacity: 0;
    transform: translateY(100%);
}
.fade2-enter-active .list {
    opacity: 1;
    transform: translateY(0%);
}
.fade2-exit .list {
    opacity: 1;
    transform: translateY(0%);
}
.fade2-exit-active .list {
    opacity: 0;
    transform: translateY(100%);
}
.fade2-enter-active .list,
.fade2-exit-active .list{
    transition: opacity 500ms, transform 500ms;
}

/* hide banner */
.fade3-enter .list {
    opacity: 0;
    transform: translateY(100%);
}
.fade3-enter-active .list {
    opacity: 1;
    transform: translateY(0%);
}
.fade3-exit .list {
    opacity: 1;
    transform: translateX(0%);
}
.fade3-exit-active .list {
    opacity: 0;
    transform: translateX(100%);
}
.fade3-enter-active .list,
.fade3-exit-active .list{
    transition: opacity 500ms, transform 500ms;
}

.fade-enter .list-selected {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active .list-selected {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit .list-selected {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active .list-selected {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active .list-selected,
.fade-exit-active .list-selected {
    transition: opacity 500ms, transform 500ms;
}

